<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="submitForm">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="title" class="form-control" id="title" formControlName="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <editor apiKey="prrpw3pu2ujy27ah3uqka9n07u9f6b5zy38o65hnmm4zyx37"
            formControlName="content"
            [init]="{}"></editor>
        </div>

        <button class="btn btn-primary btn-block col-3 mx-auto" type="submit" [disabled]="!submitForm.valid">Submit</button>
    </form>
</div>